{% include "header.html" %}

  <!-- Page Header -->



<div style="margin:20px;">
  <div class="row">
     {% for product in products %}
    <div class="col-sm-4" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">{{product.product_name}}</p>
          <p class="card-text">{{product.product_price}}</p>
          <img height="200px" src="data:image/png;base64,{{product.rendered_data}}"/>
          <a class="btn" href="{{url_for('to_cart', product_id=product.id)}}">Add to Cart</a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>






{% include "footer.html" %}